// little test policy just for unit testing
grant {
      permission java.io.FilePermission "${java.io.tmpdir}${/}*", "read, write";
      permission java.io.FilePermission "${java.io.tmpdir}${/}my", "delete";
      permission java.io.FilePermission "${java.io.tmpdir}my${/}-", "delete";
      permission java.io.FilePermission "${test}${/}-", "read";
      permission java.io.FilePermission "${test}${/}results${/}-", "read, write";
      permission java.io.FilePermission "${test}${/}..${/}*", "read, write";
      permission java.util.PropertyPermission "*", "read,write";
      permission java.net.SocketPermission "localhost", "connect, listen,accept";
      permission javax.security.auth.AuthPermission "createLoginContext.jdbc";
      permission javax.security.auth.AuthPermission "doAsPrivileged";
      permission javax.security.auth.AuthPermission "modifyPrincipals";
      permission javax.security.auth.AuthPermission "modifyPrivateCredentials";
      permission java.lang.RuntimePermission "*";
};

grant Principal org.mortbay.jaas.JAASPrincipal "me" {
      permission java.security.SecurityPermission "mySecurityPermission";
};
